table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 80%;
    float: inherit;
}

table.center {
    margin-left:auto;
    margin-right:auto;
}

th, td {
    padding: 15px;
    text-align: left;
}
th.smaller{
    width: 20%;
}

td.without_bottom {
    border-bottom: none;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    padding: 10px 24px;
    margin-left: 10%;
    margin-top: 1%;
}

.button:hover {
    background-color: white;
    color: green;
    border: 2px solid #4CAF50
}
